extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")
  script(src="/javascripts/votes.js" type="module" defer)


block content
    div(class="questionDetail")
        div(class="questionDetail__container")
            div(class="questionTitle")
                h1= question.title
                h3=  `Asked by: ${question.User.name}`
                div(class="questionAndVote__container")
                    div(class="vote__container")
                        if(vote === undefined)
                            span(id="question-vote__count")
                        else if(vote === null)
                            button(id="question_upVote")
                                img
                            span(id="question-vote__count") 0
                            button(id="question_downVote")
                                img
                        else if(vote.upvote  === false)
                            button(id="question_upVote")
                                img
                            span(id="question-vote__count") 0
                            button(id="question_downVote" class="active")
                                img
                        else
                            button(id="question_upVote" class="active")
                                img
                            span(id="question-vote__count") 0
                            button(id="question_downVote")
                                img
                    div(class="questionContent")
                        p= question.content
            div(class="total__div-row")
                if user === question.userId
                    div(class="button-row")
                        button(class="qa__button edit questionEdit")
                            a(href=`/questions/${question.id}/edit`) Edit
                        form(action=`/questions/${question.id}` method="post")
                            button(class="qa__button delete questionDelete" type="submit") Delete
                div
                    button(class="qa__button answer" id="questionAnswer__button")
                        a(href=`/questions/${question.id}/answer/new`) Answer
            each answer in answers
                div(class="answerDetail__container")
                    p= answer.content
                    h3= `Answered by: ${answer.User.name}`
                        if user === answer.userId
                            div(class="button-row")
                                button(class="qa__button edit")
                                    a(href=`/questions/${question.id}/answer/${answer.id}/edit`) Edit
                                form(action=`/questions/${question.id}/answer/${answer.id}` method="post")
                                    button(class="qa__button delete" type="submit") Delete
