extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")


block content
    div
        button(class="question-button")
            a(href="/questions/") Questions
    div
        h1= question.title
        h3=  `Asked by: ${question.User.name}`
        h3=  `Asked at: ${question.createdAt}`

            ul
                li= question.content
        if user === question.userId
            button(class="question-button")
                a(href=`/questions/${question.id}/edit`) Edit
            form(action=`/questions/${question.id}` method="post")
                button(class="question-button" type="submit") Delete
        button(class="question-button")
            a(href=`/questions/${question.id}/answer/new`) Answer
    div
        each answer in answers
            li= answer.content
                p= `Answered by: ${answer.User.name}`
                if user === answer.userId
                    button(class="question-button")
                        a(href=`/questions/${question.id}/answer/${answer.id}/edit`) Edit
                    form(action=`/questions/${question.id}/answer/${answer.id}` method="post")
                        button(class="question-button" type="submit") Delete
