extends layout

block content
    div
        button
            a(href="/questions/") Questions
    div
        h1= question.title
        h3=  `Asked by: ${question.User.name}`
        h3=  `Asked at: ${question.createdAt}`

            ul
                li= question.content
        if user === question.userId
            button 
                a(href=`/questions/${question.id}/edit`) Edit
            form(action=`/questions/${question.id}` method="post")
                button(tyep="submit") Delete
