mixin formfield(labelName, labelValue, fieldValue, inputType="text", placeholder=null)

  label(for=labelName)= labelValue

  if inputType ===  "textarea"
    textarea(id=labelName name=labelName)= fieldValue
  else
    input(id=labelName class=className type=inputType name=labelName value=fieldValue placeholder=placeholder )


mixin errorList(errors)
  if errors
    div(class='error__container' role="alert")
      p The following error(s) occurred:
      ul
        each error in errors
          div= error
